build*/Debug
build*/Release
build*/x64/Debug
build*/x64/Release
build*/snappy/Debug
build*/snappy/Release
build*/snappy/x64/Debug
build*/snappy/x64/Release
build*/snappy-static/Debug
build*/snappy-static/Release
build*/snappy-static/x64/Debug
build*/snappy-static/x64/Release
build*/snappy_unittest/Debug
build*/snappy_unittest/Release
build*/snappy_unittest/x64/Debug
build*/snappy_unittest/x64/Release
build*/snappy_unittest-static/Debug
build*/snappy_unittest-static/Release
build*/snappy_unittest-static/x64/Debug
build*/snappy_unittest-static/x64/Release
